<div class="flex-container">
  <% if user_signed_in? %>
    <div>
      <h1>Welcome <%= current_user.email %> to AMP</h1>
    </div>
    <div>
      <%= link_to "List of your Email Entries", entries_path %>
    </div>
    <div>
      <%= link_to "Add an Email Entry", new_entry_path %>
    </div>
    <div class="mt-4 mb-3">
    <div class="row">
      <br>
      <p class="text-center"><br><h1>Document Distribution Flow</h1><br></p>
      <%= image_tag "Screenshot 2022-12-01 at 15.55.43.png"%>
      <p class="text-center"><br><h1>Data Integrity Flow</h1><br></p>
      <%= image_tag "image.png"%>
    </div>
  </div>
  <% else %>
    <h1> Need to be logged in to make use of AMP</h1>
  <% end %>
</div>
